.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#Formal {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.sertif {
  width: 100%;
}

#sertifikat .row > * {
  padding: 0;
}
